
@{
    ViewBag.Title = "Http Utility";
}

<h2>Http Utility</h2>

@{ 
    string baslik = "<h2>Http Utility</h2>";
    string baslikEncode = HttpUtility.HtmlEncode(baslik);
    string baslikDecode = HttpUtility.HtmlDecode(baslikEncode);
}

<h3>
    varsayılan @baslik
</h3>

<h3>
    HtmlEncode Hali: @baslikEncode
</h3>

<h3>
    HtmlDecode Hali: @baslikDecode
</h3>

<h4>
    Html olarak yazdırma: @Html.Raw(baslikDecode)
</h4>

