
@{
    ViewBag.Title = "Mvc Session cookie kullanımı";
}
<h2>Mvc Session cookie kullanımı</h2>

@using (Html.BeginForm())
{
    <h4>Session Oluşturma</h4>
    @Html.TextBox("text", "sess")
    <input id="Submit1" type="submit" value="session oluştur" />
}

<hr />
@using (Html.BeginForm("CookieOlustur", "Mvc11SessionCookie"))
{
    <h4>Cookie Oluşturma</h4>
    @Html.TextBox("kuki", "kuki")
    <input id="Submit1" type="submit" value="cookie oluştur" />
}
<hr />
@ViewBag.kuki
<hr />

@using (Html.BeginForm("CookieSil", "Mvc11SessionCookie"))
{
    <h4>Cookie Sil</h4>
    <input id="Submit1" type="submit" value="Cookie sil" />
}


